<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Alexever17 Novel Ranking </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<body>

  <h1>Vue Basics</h1>
  <div id="app">
    <h2>{{title}}</h2>
    <h2>Lesson 1-8</h2>
    <p>{{greet("chiiill")}}</p>
    <a :href="url" target="_blank">Read Novels</a>
    <div v-bind:class="classes">Random Classes xD</div>
    <input type="text" :value="name">
    <h2>Lesson 9 Events</h2>
    <p>I earn {{ wage }} pounds per hour</p>
    <button v-on:click="changeWage(1)">Increase wage by 1 pound</button>
    <button v-on:click="changeWage(-1)">Decrease wage by 1 pound</button>
    <button @dblclick="changeWage(5)">Decrease wage by 5 pound</button>
    <button @dblclick="changeWage(-5)">Decrease wage by 5 pound</button>
    <h2>Lesson 10 Event Object</h2>
    <button @click="logEvent">LOG</button>
    <div class="canvas" @mousemove="logCoords">{{ coords.x }}.{{ coords.y }}</div>
    <h2>Lesson 11 Keyboard Events</h2>
    <p>Hello, my naaama {{ jeff }}</p>
    <input type="text" @keyup="updateName">
    <input type="text" @keypress="updateName">
    <h2>Lesson 12 v-model</h2>
    <p>Hello, my naaama {{ jeff }}</p>
    <input type="text" v-model="jeff">
    <!-- 2 way street for inputs -->
    <h2>Lesson 13 modifiers</h2>
    <button @click.alt="logMessage">Click me</button>
    <!-- listen only to click if alt is clicked -->
    <button @click.shift="logMessage">Shift Click me</button>
    <a href="http://google.com" rel="noopener noreferrer" @click.prevent="logMessage">Google</a>
    <!-- prevent the efault event action -->
    <h2>Lesson 14 v-if</h2>
    <p v-if="showName">WALUIGI</p>
    <p v-else-if="showAge">9001</p>
    <button @click="toggleName">Shown Text: {{showName}}</button>
    <button @click="toggleAge">Shown Age: {{showAge}}</button>
    <h2>Lesson 15 v-for</h2>
    <ul>
      <li v-for="item in items">{{item}}</li>
    </ul>
    <div v-for="(ninja, index) in ninjas">
      <p>{{index+1}}-{{ninja.name}}</p>
      <p>age: {{ninja.age}}</p>
      <p>belt: {{ninja.belt}}</p>
    </div>
  </div>

  <script src="app.js"></script>
</body>
</html>